body{
    background-color: honeydew;
    color: darkgreen;
    margin: 5px;
    padding: 2px;
    }
    header,
    footer {
text-align: justify;
text-indent: 7px;
background-color: rgb(200, 243, 184);
    }
    h2, h3, h4 {
        color: darkred;
        text-decoration: underline;
    }